@media (max-width: 1600px) {

    .topNavDiv {
        padding: 25px 0px;
    }

    .topNav {
        padding: 0px 5px;
    }

    .topNav li {
        font-size: 18px;
    }

    .container {
        width: 70%;
    }

    .main-wrapper {
        margin-top: 1%;
    }

    .main-container {
        padding: 0px 25px;
    }

    .section-title {
        font-size: 90px;
        line-height: 75px;
    }

    .section-title-sm {
        font-size: 70px;
        line-height: 60px;
    }

    .profile-card {
        padding: 30px 5px;
    }

    .profile-title {
        font-size: 25px;
    }

    .social-icon a {
        font-size: 20px;
    }

    .profile-card>h4 {
        font-size: 14px;
    }

    .Home h3 {
        width: 60%;
        font-size: 15px;
    }

    .numbers-container {
        width: 80%;
    }

    .numbers p {
        font-size: 65px;
    }

    .numbers .lighterNumbers {
        font-size: 13px;
        line-height: 15px;
    }

    .spanHeight {
        height: 32px;
    }

    .project-card,
    .edu-card {
        min-height: 120px;
    }

    .edu-upper-card h2 {
        font-size: 16px;
    }

    .edu-upper-card h4 {
        font-size: 13px;
    }

    .edu-lower-card {
        font-size: 14px;
    }

    .experience>i {
        font-size: 30px;
        margin-left: -27.5px;
    }

    .exp-title {
        font-size: 18px;
    }

    .exp-duration {
        font-size: 14px;
    }

    .exp-details h4 {
        font-size: 14px;
    }

    .exp-points {
        font-size: 13px;
    }

    .upper-card>h2 {
        font-size: 18px;
    }

    .project-card p {
        font-size: 13px;
    }

    .tool-card img {
        height: 35px;
        aspect-ratio: 1/1;
    }

    .tool-card-lower h3 {
        font-size: 15px;
        font-weight: 600;
    }

    .tool-card-lower p {
        font-size: 13px;
        color: #b9b6b6;
    }

    .input-field {
        font-size: 13px;
    }

    .btn {
        font-size: 13px;
    }

}


@media (max-width: 768px) {
    .topNavDiv {
        /* width: 100%; */
    }

    .topNav {
        width: 60%;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .main-container {
        margin: 0;
        padding: 0;
        margin-top: 30px;
    }

    .Home {
        width: 100%;
    }

    .Home h3 {
        width: 80%;
    }

    .spanHeight {
        height: 20px;
    }

    .section-title {
        font-size: 75px;
        line-height: 60px;
    }

    .section-title-sm {
        font-size: 60px;
        line-height: 60px;
    }

    .numbers-container {
        width: 100%;
    }

    .numbers:last-child .lighterNumbers:nth-child(even) {
        width: 120%;
    }

    .edu-card-container {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .exp-details{
        width: 100%;
        padding:0;
    }

    .exp-skills {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .exp-skills li {
        width: fit-content;
    }

    .experience:nth-child(n+2) {
        .exp-skills {
            display: grid;
            grid-template-columns: auto auto auto auto;
        }

        .exp-skills li {
            width: max-content;
        }
    }
}