 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

 * {
     font-family: 'Poppins', sans-serif;
     padding: 0;
     margin: 0;
     cursor: default;
 }

 p, h1,h2,h3,h4{
    cursor: default;
 }

 :root {
     /* --themeMain: #f09444; */
     --themeMain: #ec7710;
     --fontColor: #FFF;
     --themeBlack: #252525;
     --themeOffBlack: #1b1b1b;
     --themeLightBlack: #1d1d1d;
     --themeDarkBlack: #111;
     --themeGray: #7b7a7a;
     --themeGlass: rgba(138, 131, 131, 0.1);
 }

 body {
     scroll-behavior: smooth;
     background-color: var(--themeDarkBlack);
 }

 .topNavDiv {
     display: flex;
     width: 100%;
     justify-content: center;
     padding: 30px 0px;
 }

 .topNav {
     width: 17%;
     background-color: var(--themeGlass);
     backdrop-filter: blur(10px);
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 3px 5px;
     border-radius: 18px;
     cursor: pointer;
 }

 .topNav>a{
    text-decoration: none;
 }

 .topNav li {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     aspect-ratio: 1/1;
     list-style: none;
     color: var(--fontColor);
     font-weight: 100;
     font-size: 22px;
 }

 .tooltip {
     position: relative;
     display: flex;
 }

 .tooltip .tooltiptext {
     /* Position the tooltip */
     position: absolute;
     z-index: 1;
     font-size: 12px;
     padding: 5px 8px;
     visibility: hidden;
     width: fit-content;
     text-align: center;
     border-radius: 8px;
     background-color: var(--themeGlass);
     backdrop-filter: blur(10px);
     transition: all ease 500ms;
     opacity: 0;
 }

 .tooltip:hover .tooltiptext {
     visibility: visible;
     transform: translateY(48px);
     opacity: 1;
 }

 .main-wrapper {
     width: 100%;
     display: flex;
     justify-content: center;
     margin-top: 2%;
 }

 .container {
     width: 70%;
     padding: 25px 40px;
     display: flex;
     justify-content: center;
     /* background-color: var(--themeMain); */
 }

 .profile-card {
     background-color: var(--fontColor);
     width: 28%;
     height: fit-content;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 15px;
     padding: 40px 0px;
 }

 .profile-card>img {
     width: 75%;
     border-radius: 15px;
 }

 .profile-title {
     padding-top: 25px;
 }

 .profile-card>h4 {
     text-align: center;
     color: var(--themeGray);
     font-weight: 500;
 }

 .profile-card>span {
     height: 30px;
 }

 .social-icon {
     margin-top: 30px;
     width: 70%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 .social-icon a {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 30px;
     aspect-ratio: 1/1;
     color: var(--themeMain);
     font-size: 23px;
     text-decoration: none;
     border-radius: 8px;
     transition: all 500ms;
     cursor: pointer;
 }

 .social-icon i{
    cursor: pointer;
 }

 .social-icon a:hover {
     background-color: #ebeaea;
 }

 .main-container {
     width: 72%;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     border-radius: 15px;
     padding: 0px 40px;
     margin-left: 30px;
 }

 .Home>div {
     display: flex;
     flex-direction: column;
 }

 section{
    height: fit-content;
 }

 .section-title {
     color: var(--fontColor);
     font-size: 108px;
     line-height: 90px;
 }

 .section-title-sm {
     color: var(--fontColor);
     font-size: 80px;
     line-height: 70px;
 }

 .lighter {
     color: var(--themeGray);
     opacity: 0.3;
 }

 .Home h3 {
     width: 55%;
     color: var(--themeGray);
     font-weight: 400;
 }

 .spanHeight {
     height: 50px;
 }

 .numbers-container {
     width: 70%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 .numbers {
     width: 30%;
     height: fit-content;
 }

 .numbers p {
     color: var(--fontColor);
     font-size: 80px;
     font-weight: 600;
 }

 .numbers .lighterNumbers {
     color: var(--themeGray);
     font-size: 16px;
     line-height: 18px;
 }

 .numbers p:nth-child(even) {
     margin-top: -25px;
 }

 .projects-container, .edu-container {
     width: 100%;
     margin-top: 30px;
     height: fit-content;
     row-gap: 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
 }

 .project-card-container, .edu-card-container{
    display: grid;
    column-gap: 2%;
    grid-template-columns: 49% 49%;
 }

 .even{
    grid-template-columns: 59% 39%;
 }

 .odd{
    grid-template-columns: 39% 59%;
 }

 .project-card, .edu-card {
     color: var(--fontColor);
     min-height: 150px;
     height: fixed;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     background-color: var(--themeLightBlack);
     border-radius: 15px;
     padding: 15px;
     cursor: pointer;
     transition: all 300ms;
 }

 .project-card:hover {
     transform: scale(1.02);
 }

 .project-card img{
    width: 100%;
    border-radius: 8px;
    transition: all 300ms;
    cursor: pointer;
 }

 .project-card img:hover{
    opacity: 0.5;
 }
 .project-card h2{
    width: 100%;
    text-align: left;
 }

 .project-card p{
    width: 100%;
    text-align: left;
    margin-top: 10px;
 }

 .upper-card{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 .upper-card h2{
    font-weight: 600;
    font-size: 20px;
 }

 .upper-card p {
     opacity: 0.7;
 }

 .upper-card i {
     font-size: 30px;
     color: var(--themeMain);
     background-size: cover;
     border-radius: 50%;
     margin: 0;
     padding: 0;
     transition: all 300ms;
 }

 .upper-card i:hover {
     background-color: var(--fontColor);
 }

 .edu-lower-card, .edu-upper-card{
    width: 100%;
    display: grid;
    grid-template-columns: 65% 25%;
    column-gap: 10%;
    align-items: center;
 }

 .edu-lower-card{
    color: var(--themeGray);
 }

 .edu-upper-card h2{
    font-size: 20px;
    font-weight: 600;
 }

 .edu-card h4, .edu-lower-card p:nth-child(even){
    font-weight: 400;
    color: var(--fontColor);
 }

 .edu-card:nth-child(even) h4{
    height:100%;
 }

 .image-container{
    display: flex;
    justify-content: center;
 }

 .image-container:hover img {
    opacity: 0.6;
  }

 .icon {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 45px; /* Adjust the size of the icon as needed */
    color: var(--themeMain);
    cursor: pointer;
  }
  
  /* Show the icon on hover */
  .image-container:hover .icon {
    opacity: 1;
  }

 .btn {
     background-color: var(--themeMain);
     padding: 5px 10px;
     text-decoration: none;
     font-size: 16px;
     border-radius: 10px;
     font-weight: 500;
     color: var(--fontColor);
     cursor: pointer;
     border: none;
     transition: all 300ms;
 }

 .btn:hover {
     color: var(--themeDarkBlack);
 }

 .download-resume {
     position: fixed;
     bottom: 10px;
     right: 10px;
 }

 .experiences-container {
     margin-top: 30px;
     display: grid;
     grid-template-columns: 2% 98%;
     height: fit-content;
     justify-content: center;
     ;
 }

 .timeline-div {
     display: flex;
     justify-content: center;
 }

 .timeline {
     width: 5px;
     border-radius: 5px;
     background-image: linear-gradient(#FFF, #7b7a7a);
 }

 .exp-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
 }

 .experience {
     display: flex;
     border-radius: 15px;
     margin-left: 5px;
     transition: all 300ms;
 }

 .experience:hover {
     background-color: var(--themeOffBlack);
 }

 .experience>i {
     font-size: 35px;
     color: var(--fontColor);
     margin-top: 0px;
     margin-left: -31.5px;
 }

 .exp-details {
     width: 100%;
     display: flex;
     flex-direction: column;
     color: var(--fontColor);
     border-radius: 15px;
     padding: 10px;
 }

 .exp-upper {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     color: var(--themeMain);
 }

 .exp-title {
     font-size: 22px;
     font-weight: 600;
 }

 .exp-duration {
     font-size: 16px;
 }

 .exp-points {
     margin-left: 15px;
 }

 .exp-points li {
     font-weight: 400;
 }

 .exp-skills{
    width: 100%;
    margin-top: 15px ;
    display: flex;
    justify-content: start;
 }

 .exp-skills li{
    color: var(--themeMain);
    font-size: 13px;
    background-color: var(--themeOffBlack);
    border-radius: 50px;
    padding: 5px 10px;
    list-style: none;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .exp-skills li>img{
    width: 25px;
    margin-left: -5px;
 }

 .exp-details h4 {
     color: var(--themeGray);
     font-weight: 200;
 }

 .form-container{
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
 }

 .two-fields{
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    padding: 10px 0px;
 }

 .phone-number{
    grid-template-columns: 9% 89%;
 }

 .message{
    grid-template-columns: 100%;
 }

 .input-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .input-div p{
    font-size: 12px;
    padding: 8px 4px;
    color: var(--fontColor);
 }

 /* .two-fields .input-div:nth-child(even){
    float: left;
 } */

 .input-field{
    border: none;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: auto;
    background-color: var(--themeLightBlack);
    font-weight: 500;
    color: var(--fontColor);
 }

 .input-field:focus{
    border-color: #ec8225;
 }

 .form-container .btn{
    width: 20%;
 }

 .tools-container{
    color: var(--fontColor);
 }

 .tools-container h1{
    font-size: 28px;
 }

 .tools{
    display: grid;
    grid-template-columns: 32% 33% 32%;
    column-gap: 1%;
    row-gap: 5%;
 }

 .tool-card-layer{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .tool-card{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 5%;
    border-radius: 15px;
    padding: 10px;
    transition: all 300ms ease;
 }

 .tool-card:hover{
    background-color: var(--themeOffBlack);
 }

 .tool-card img{
    height: 45px;
    aspect-ratio: 1/1;
    /* background-color: var(--fontColor);
    border-radius: 8px; */
 }

 .tool-card-lower h3{
    font-weight: 600;
 }

 .tool-card-lower p{
    color: #b9b6b6;
 }
